<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Backup.ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="BackOfficeDB" connectionString="data source=10.44.41.27;initial catalog=BackupService_Test1;persist security info=True;user id=budev;password=Backup123!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="BackOfficeDB" connectionString="data source=10.50.18.4;initial catalog=BackupService_Test1;persist security info=True;user id=budev;password=Backup123!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="VeeamAPI" value="http://10.50.18.4:9399" />
    <add key="PassVeeam" value="Basic VmVlYW1BcGk6QWRkbGluazEyMyE=" />
  </appSettings>
  <applicationSettings>
    <Backup.ClassLibrary.Properties.Settings>
      <setting name="PathPrivate" serializeAs="String">
        <value>C://Key//service.key</value>
      </setting>
      <setting name="PathPublic" serializeAs="String">
        <value>C://Key//service.pub</value>
      </setting>
      <setting name="PassVeeam" serializeAs="String">
        <value>Basic VmVlYW1BcGk6QWRkbGluazEyMyE=</value>
      </setting>
      <setting name="VeeamAPI" serializeAs="String">
        <value>http://10.50.18.4:9399</value>
      </setting>
    </Backup.ClassLibrary.Properties.Settings>
  </applicationSettings>
</configuration>